html, body, div, canvas { 
    margin: 0;
    padding: 0;
} /* removes defaults */

body {
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

#vortex-canvas {
	border-radius: 5px;
	border: 2px solid black;
	left: 50%;
	margin-top: 80px;
	background-image: url('images/mountains.png');
}

button {
	display: block;
	margin:auto;
	padding: 5px 10px;
	background: #557;
	color: #EEE;
	border-radius: 7px;
	border: none;
	outline: hidden;
	text-decoration: none;
}

button:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
    outline: none;
}

#container {
	text-align: center;
}

#description {
	position: relative;
	margin: auto;
	width: 600px;
	display: none;
	text-align: center;
}

#inner-container {
	display: inline-block;
	position: relative;
	text-align: left;
}

#top {
	margin-left: -40px;
}

ul {
	list-style: none;
}

button:focus {
	outline: none;
}
