html, body, div, canvas { 
    margin: 0;
    padding: 0;
}

html, body, #outer-container {
	height: 100%;
}

body {
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

#outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#inner-container {
	display: grid;
	grid-template-rows: 5em 45em 6em;
	grid-template-columns: 5em 1.5em 6em 6em 6em 6em 6em 6em 6em 1.5em 5em;
	background-color: #EEE;
	border-radius: 5em;
	box-shadow: inset -3px -5px 13px 0 #00000066, inset 3px -5px 13px 0 #00000066, inset 0 8px 5px 0 #FFFFFF88, 0 4px 2px 0 rgba(0, 0, 0, 0.7);
}

#vortex-canvas {
	z-index: 2;
	width: 45em;
	border-radius: 6em;
	background-image: url('images/mountains.png');
    background-size: 45em 45em;
    grid-area: 2 / 2 / 3 / 3;
    opacity: 1;
	transition-duration: 0.25s;
	box-shadow: -3px -5px 13px 0 #00000066, 3px -5px 13px 0 #00000066, 0 5px 10px 0 #CCCCCCCC;
}

#container {
	text-align: center;
	grid-area: 3 / 2 / 3 / 3;
}

#description {
	opacity: 0;
	text-align: center;
	grid-area: 2 / 2 / 3 / 8;
	transition-duration: 1s;
}

#inner-description-container {
	text-align: left;
}

#controls {
	transition-duration: 0.2s;
	grid-column-start: 6;
	grid-column-end: 7;
}

#controls:hover ~ #description {
	opacity: 1;
}
#controls:hover ~ #vortex-canvas {
	opacity: 0;
}

ul {
	list-style: none;
}

button:focus {
	outline: none;
}

button:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
    outline: none;
}

.controller, #controls {
	padding: 0.5em;
	transition-duration: 0.1s;
	outline: none;
	background-color: #222;
	color: #DDD;
	font-family: 'Graduate', sans-serif;
	font-weight: bold;
	border-radius: 35%;
	border-top: 4px solid #444;
	border-right: 5px solid #353535;
	border-bottom: 5px solid #111; 
	border-left: 5px solid #353535;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.45), inset 0 0 1px 1px rgba(222,222,222,0.1);

}
.controller:active {
	color: #DDD;
	border-top: 4px solid #000;
	border-right: 5px solid #252525;
	border-bottom: 5px solid #333;
	border-left: 5px solid #252525;
	box-shadow: inset 0 0 1px 1px rgba(111,111,111,0.1);
}

.bottom {
	grid-row-start: 3;
	grid-row-end: 4;
	z-index: 3;
	position: relative;
	margin: auto;
}

#eliptic {
	grid-column-start: 3;
	grid-column-end: 4;
}
#reset {
	grid-column-start: 4;
	grid-column-end: 5;
}
#pause {
	grid-column-start: 5;
	grid-column-end: 6;
}
#rectangle {
	grid-column-start: 7;
	grid-column-end: 8;
}
#osc {
	grid-column-start: 8;
	grid-column-end: 9;
}
#solid {
	grid-column-start: 9;
	grid-column-end: 10;
}